# игнорируем виртуальное окружение
venv/

# Игнорируем кэш Python
__pycache__/

# Игнорируем базу данных
db.sqlite3
*.squlite3

# Игнорируем файлы логов
*.log

# Игнорируем статику и медиа
/static/
/media/